<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title><%= title%></title>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/simditor/styles/simditor.css"/>
	<link rel="stylesheet" href="/suggest/index.css"/>
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/suggest/index.js"></script>
	<script src="/javascripts/search.js"></script>
	<script src="/javascripts/toast.js"></script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
					问答平台
				</a>
			</div>
			<div class="collapse navbar-collapse clearfix">
				<form class="navbar-form navbar-left" role="search" action="/doSearch" autocomplete="off">
					<div class="form-group input-search-wrap" id="input-search-wrap">
					</div>
					<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> 搜索</button>
					<% if(isLogin){ %>
					<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">创建问题</button>
					<% } %>
				</form>
				<ul class="nav navbar-nav pull-right">
					<% if(!isLogin){ %>
					<li><a href="/login">登录</a></li>
					<li><a href="/reg">注册</a></li>
					<% }else{ %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= user.username%><span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/user/<%= user.username%>/questions">我的</a></li>
							<li><a href="/modifyPsw">修改密码</a></li>
							<li><a href="/logout">注销登录</a></li>
						</ul>
					</li>
					<% } %>
				</ul>
			</div>
		</div>
	</nav>