<%- include header%>


<h3 style="text-align: center;height: 100%;line-height: 100%;">注册成功，系统将会自动跳转</h3>
<script>
    setTimeout(function(){
        window.location.href = "/index";
    },3000);
</script>

<%- include footer%>
