<%- include header%>

<div class="container">
	<div class="left-side col-md-8">
		<div class="question-list border">
			<ul class="nav nav-tabs no-bottom-padding">
			  <li role="presentation" class="active"><a href="#">我的提问</a></li>
			  <li role="presentation" class="active"><a href="#">我的回答</a></li>
			  <li role="presentation" class="active"><a href="#">我的收藏</a></li>
			</ul>
			<ul class="question-list no-padding">
				<li class="question-list-item striped"><a href="#" class="">新鲜出炉，Mongodb和SQLServer性能..</a><span class="tips pull-right">30分钟前</span>
				</li>
				<li class="question-list-item striped"><a href="#" class="">新鲜出炉，Mongodb和SQLServer性能..</a><span class="tips pull-right">3小时前</span>
				</li>
				<li class="question-list-item striped"><a href="#" class="">新鲜出炉，Mongodb和SQLServer性能..</a><span class="tips pull-right">1天前</span>
				</li>
				<li class="question-list-item striped"><a href="#" class="">新鲜出炉，Mongodb和SQLServer性能..</a><span class="tips pull-right">3年前</span>
				</li>
			</ul>
		</div>
		
	</div>
	<div class="right-bar col-md-3 col-md-offset-1">
		<div class="notification border">
			<div class="header">个人信息</div>
			<div class="user-info">
				<img src="/images/default.jpg" alt="">
				<div class="button-wrap">
					<button type="button" class="btn btn-primary">修改头像</button>
				</div>
				<p class="user-name">青你个葱</p>
				<div class="button-wrap">
					<button type="button" class="btn btn-primary">修改昵称</button>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include footer%>